@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #000000;
  --foreground: #ededed;
  --primary: #ae1a12;
  --border: #202124;
  --card: 0 0% 3.9%;
  --card-foreground: 0 0% 98%;
  --popover: 0 0% 3.9%;
  --popover-foreground: 0 0% 98%;
}
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
.indent {
  padding-left: 3rem;
  padding-right: 3rem;
}

body {
  color: var(--foreground);
  background: var(--background);

  font-family: Arial, Helvetica, sans-serif;
}

html,
body {
  height: 100%;
}

.outline-text {
  color: white;
  text-shadow: 2px 2px 0 #740d0d, /* Bottom-right */ -2px -2px 0 #740d0d,
    /* Top-left */ 2px -2px 0 #740d0d, /* Top-right */ -2px 2px 0 #740d0d; /* Bottom-left */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
